<article class="advice-card">
  <div class="advice-card__inner">
    {{ product.featured_image | image_url: width: 248, height: 368 | image_tag: class: 'advice-card__img' }}
    {% render 'tags', text: 'products.product.sold_out', class: 'advice-card__tags', product: product %}
  </div>
  <div class="advice-card__content">
    {% if product.title != blank %}
      <h3 class="advice-card__title">
        <a class="advice-card__title-link" href="{{ product.url }}">
          {{ product.title }}
        </a>
      </h3>
    {% endif %}
    <ul class="offset-x advice-card__list" role="list">
      {% for variant in product.variants limit: 6 %}
        {% if variant.available %}
          <li class="advice-card__item" style="--color: {{ variant.option2 }};">
            <a class="advice-card__link" href="{{ variant.url }}">
              <span class="visually-hidden">{{ variant.option2 }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <p class="advice-card__text">
      <abbr title="{{ 'accessibility.euro_abbr' | t }}">{{ shop.currency }}</abbr>
      {{ product.price | money_without_currency }}
    </p>
  </div>
</article>