{% if product_option.name == 'Color' %}
  {% liquid
    assign arr_color = value | split: '|'
    assign name_color = arr_color[0]
    assign hex_color = arr_color[1]
    capture color
      if hex_color != blank
        echo hex_color
      else 
        echo name_color
      endif
    endcapture
  %}
  <div class="radio-btn radio-btn--color">
    <input
      class="radio-btn__input visually-hidden"
      id="color_{{ name_color | downcase | remove: ' ' }}"
      type="radio"
      name="options[{{ product_option.name }}]"
      value="{{ value }}"
      {% if product_option.selected_value == value %}checked{% endif %}>
    <label
      class="radio-btn__label {% if name_color == 'White' %}radio-btn__label--white{% endif %}"
      for="color_{{ name_color | downcase | remove: ' ' }}"
      style="--color: {{ color }};">
      <span class="radio-btn__tooltip" role="tooltip">{{ name_color }}</span>
    </label>
  </div>
{% else %}
  <div class="radio-btn">
    <input
      class="radio-btn__input visually-hidden"
      id="size_{{ value | downcase }}"
      type="radio"
      name="options[{{ product_option.name }}]"
      value="{{ value }}"
      {% if product_option.selected_value == value %}checked{% endif %}>
    <label class="radio-btn__label" for="size_{{ value | downcase }}">
      {{ value }}
    </label>
  </div>
{% endif %}