<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    {% style %}
      @font-face {
        font-family: 'Avenir';
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url("{{ 'AvenirNextRoundedStd-Reg.woff2' | asset_url }}") format("woff2");
      }

      @font-face {
        font-family: 'Avenir';
        font-weight: 500;
        font-style: normal;
        font-display: swap;
        src: url("{{ 'AvenirNextRoundedStd-Med.woff2' | asset_url }}") format("woff2");
      }

      @font-face {
        font-family: 'Avenir';
        font-weight: 600;
        font-style: normal;
        font-display: swap;
        src: url("{{ 'AvenirNextRoundedStd-Demi.woff2' | asset_url }}") format("woff2");
      }
    {% endstyle %}
    <link rel="stylesheet" href="{{ 'theme.min.css' | asset_url }}">
    <script src="{{ 'theme.min.js' | asset_url }}" defer></script>
    {{ content_for_header }}
  </head>
  <body>
    {% render 'skip-link', href: '#main', text: 'accessibility.skip_to_text' %}
    {% section 'alternate-header' %}
    {% render 'alternate-breadcrumbs' %}
    <main
      id="main"
      class="main"
      tabindex="-1">
      {{ content_for_layout }}
    </main>
    {% section 'alternate-footer' %}
    {% render 'notification-stack' %}
  </body>
</html>