<header class="header">
  <a href="#main" class="skip-link">
    {{ 'accessibility.skip_to_text' | t }}
  </a>
  <div class="container header__container">
    <button
      class="burger"
      aria-label="{{ "accessibility.burger" | t }}"
      aria-expanded="false"
      aria-controls="burger_menu">
      {% render 'icon', icon: "menu" %}
      <span class="burger__text burger__text--menu">{{ "accessibility.burger_text_menu" | t }}</span>
      {% render 'icon', icon: "close" %}
      <span class="burger__text burger__text--close">{{ "accessibility.burger_text_close" | t }}</span>
    </button>
    {% assign menu = section.settings.header_menu %}
    {% if menu.links.size > 0 %}
      <nav class="main-nav header__nav" aria-label="{{ "accessibility.main_nav" | t }}">
        <ul class="offset-x offset-y main-nav__list" role="list">
          {% for link in menu.links %}
            <li class="main-nav__item">
              <a class="link main-nav__link" href="{{ link.url }}">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
    {% if section.settings.logo_link != blank %}
      <a class="logo header__logo" href="#">
        <span class="visually-hidden">{{ "accessibility.logo_visually_hidden" | t }}</span>
        <img
          class="header__logo-img"
          width="139"
          height="32"
          src="{{ section.settings.logo_link }}"
          alt="">
      </a>
    {% elsif section.settings.header_logo != blank %}
      <a class="logo header__logo" href="#">
        <span class="visually-hidden">{{ "accessibility.logo_visually_hidden" | t }}</span>
        {{ section.settings.header_logo | image_url: width: 139, height: 32 | image_tag: class: 'header__logo-img', alt: '' }}
      </a>
    {% endif %}
    <nav class="main-nav header__nav" aria-label="{{ "accessibility.meta_and_search_nav" | t }}">
      <ul class="offset-x offset-y main-nav__list" role="list">
        <li class="main-nav__item">
          <a class="link main-nav__link" href="{{ routes.account_url }}">
            {{ 'customer.account.title' | t }}
          </a>
        </li>
        <li class="main-nav__item">
          <a class="link main-nav__link" href="{{ routes.search_url }}">
            {{ 'general.search.search' | t }}
          </a>
        </li>
        <li class="main-nav__item">
          <a class="link main-nav__link" href="{{ routes.cart_url }}">
            {{ 'templates.cart.cart' | t }} (<span>{{ cart.item_count }}</span>)
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div id="burger_menu" class="offset-y burger-menu">
    {% if menu.links.size > 0 %}
      <nav class="main-nav" aria-label="{{ "accessibility.main_nav" | t }}">
        <ul class="offset-x offset-y burger-menu__list main-nav__list" role="list">
          {% for link in menu.links %}
            <li class="main-nav__item">
              <a class="link main-nav__link" href="{{ link.url }}">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
    <nav class="main-nav" aria-label="{{ "accessibility.meta_and_search_nav" | t }}">
      <ul class="offset-x offset-y burger-menu__list main-nav__list" role="list">
        <li class="main-nav__item">
          <a class="main-nav__link" href="{{ routes.account_url }}">
            {{ 'customer.account.title' | t }}
          </a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="{{ routes.search_url }}">
            {{ 'general.search.search' | t }}
          </a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="{{ routes.cart_url }}">
            {{ 'templates.cart.cart' | t }} (<span>{{ cart.item_count }}</span>)
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "header_logo",
        "label": "Logo"
      }, {
        "type": "link_list",
        "id": "header_menu",
        "label": "Menu"
      }, {
        "type": "url",
        "id": "logo_link",
        "label": "Logo link"
      }
    ]
  }
{% endschema %}