<header
  class="header"
  data-section-type="alternate-header"
  data-section-id="{{ section.id }}">
  {% render 'skip-link', href: 'main' %}
  <div class="container header__container">
    {% render 'burger' %}
    {% assign menu = section.settings.menu %}
    {% if menu.links.size > 0 %}
      {% render 'main-nav', menu: menu, class: 'header__nav', type: 'main' %}
    {% endif %}
    {% if section.settings.logo_link != blank %}
      <a class="logo header__logo" href="{{ shop.url }}">
        <span class="visually-hidden">{{ "accessibility.logo" | t }}</span>
        <img
          class="header__logo-img"
          width="139"
          height="32"
          src="{{ section.settings.logo_link }}"
          alt="">
      </a>
    {% elsif section.settings.logo != blank %}
      <a class="logo header__logo" href="{{ shop.url }}">
        <span class="visually-hidden">{{ "accessibility.logo" | t }}</span>
        {{ section.settings.logo | image_url: width: 139, height: 32 | image_tag: class: 'header__logo-img', alt: '' }}
      </a>
    {% endif %}
    {% render 'main-nav', menu: menu, class: 'header__nav', type: 'meta' %}
  </div>
  {% render 'burger-menu', menu: menu %}
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }, {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }, {
        "type": "url",
        "id": "logo_link",
        "label": "Logo link"
      }
    ]
  }
{% endschema %}